imageio
Keras
Keras-Preprocessing
matplotlib
python-dateutil==2.8.1
scikit-image
scikit-learn
scipy
tensorboard
tensorboard-plugin-wit
tensorflow==2.*
tensorflow-addons
tensorflow-estimator
tensorflow-hub
